body {
    margin: 0;
    padding: 0;
    background-color: #001f3d;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titleDogsRandom {
    text-align: center;
    font-size: 40px;
}

.subtitleDogsRandom {
    color: #001f3d;
    font-size: 28px;
}

#sectionListFavourites,
.dogsFavorites,
#uploadingImgDog,
.listRandomDogs {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    border-radius: 20px;
    gap: 1rem;
    background-color: rgb(246, 220, 188);
}

.dogsFavorites {
    font-size: 18px;
    color: #001f3d;
    padding: 0;

}

#sectionListFavourites {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.articleFavourites,
.articleListRandomDogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 370px;
    background-color: rgb(55, 112, 113);
    border-radius: 10px;
}


.imgFavourite,
.imgRandom {
    width: 100%;
    height: 100%;
}

.imgFavouriteFigure,
.imgRandomFigure {
    width: 300px;
    height: 280px;
    object-fit: contain;
    margin: 0;
}


.sectionCardsDogsRandom {
    display: flex;
    gap: 3rem;
}

.btnDeleteFavourite,
.btnRandom {
    height: 50px;
    width: 300px;
    border: 0;
    background-color: #d9a71f;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.btnUpdate {
    height: 45px;
    width: 160px;
    cursor: pointer;
    background-color: rgb(69, 154, 69);
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}

.btnUploadPhoto:hover,
.btnUpdate:hover {
    background-color: #1dae59;
    transform: scale(1.2);
}

#uploadingImgDog {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #001f3d;
    font-size: 25px;
    padding-bottom: 1.5rem;
}

#file {
    font-size: 16px;
    color: #333;
    padding: 10px;
    border: 2px solid #4CAF50;
    background-color: #f4f4f4;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

#file:hover {
    background-color: #e0e0e0;
}

#file::-webkit-file-upload-button {
    font-size: 16px;
    background-color: #d4a523;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#uploadingForm {
    display: flex;
    gap: 1rem;
}

.btnUploadPhoto {
    margin-bottom: auto;
    margin-top: auto;
    border: none;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    height: 45px;
    width: 100px;
}

.btnDeleteFavourite {
    background-color: rgb(243, 96, 80);
}